<% if user_signed_in? && current_user != user %>
  <% if current_user.following?(user) %>
    <%= link_to user_relationships_path(user.id), remote: true, method: :delete, class:"text-decoration-none" do %><button type="button" class="btn mb-3 btn-info btn-sm btn-block text-white">フォローを外す</button><% end %>
  <% else %>
    <%= link_to user_relationships_path(user.id), remote: true, method: :post, class:"text-decoration-none" do %><button type="button" class="btn mb-3 btn-success btn-sm btn-block text-white">フォローする</button><% end %>
  <% end %>
<% end %>