<div class="container pt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/profile', user: current_user %>
      <%= render 'layouts/booknew', book: @booknew %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Groups</h2>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>