<div class="container">
  <div class="row">
    <div class="col-7 mx-auto text-center">
      <%= video_tag url_for(@book.video), controls: true, autoplay: true, loop: true, size: "500x300" %>
    </div>
  </div>
</div>
