<div class="container">
  <div class="row-cols-1">
    <div class="col-lg-7 col-md-9 mx-auto">
      <h1 class="col mt-4">welcome to<i class="fa-solid fa-book ml-2"></i><strong>Bookers</strong> !!</h1>
    </div>
  </div>
</div>