<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand active" href="/">Bookers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link" href="/"><i class="fa-solid fa-house"></i>Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/home/about"><i class="fa-solid fa-link"></i>About</a>
      <a class="nav-link" href="/users/sign_up"><i class="fa-solid fa-user-plus"></i>Sin up</a>
      <a class="nav-link" href="/users/sign_in"><i class="fa-solid fa-right-to-bracket"></i>Log in</a>
    </div>
  </div>
</nav>


