@use '~bootstrap/scss/bootstrap';
// スライドショーの追加

.swiper {
  width: 500px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

// スライドショーの追加

#newbook-template {
  display: none;
}

// Loading

.loading {
  display: block;
}

.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}

@keyframes spin {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
    opacity: 0;
  }
  51% {
    top: -100%;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
    opacity: 0;
  }
  51% {
    top: -100%;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.loading {
  position: fixed;
  width: 100%;
  top: calc(50% - 30px);
  text-align: center;
}

.loading span {
  color: #eee;
  font-size: 30px;
}

.loading .animate {
  position: absolute;
  top: 0;
}

.loading span:nth-child(2) {
  color: #0088cc;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 1.5s linear infinite;
}

.loading span:nth-child(3) {
  margin-left: 25px;
  color: #e23069;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

.loading span:nth-child(4) {
  margin-left: 50px;
  color: #F0E300;
  animation: spin 1.25s linear infinite;
  -webkit-animation: spin 1.25s linear infinite;
}

.loading span:nth-child(5) {
  padding-left: 77px;
}

html, body {
  height: 100%;
}

footer {
  position: sticky;
  top: 100vh;
  top: 100dvh;
}