
<div>
  <h2 class="mb-2">User info</h2>
  <%= image_tag user.get_profile_image(100,100) %><br/>
  <table>
    <table class="table">
      <tr>
        <th scope="row">name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </thead>
  </table>
  <div class="mb-4">
    <%= link_to edit_user_path(user) do %>
      <button type="button" class="btn btn-outline-secondary btn-block">
        <i class="fa-solid fa-user-cog"></i>
      </button>
    <% end %>
  </div>
</div>
